# Ignorar node_modules en ambas carpetas
backend-node/node_modules/
frontend-react/node_modules/

# Ignorar archivos de entorno
backend-node/.env
frontend-react/.env
facial_auth/venv310/

# Ignorar archivos de configuración local
backend-node/.vscode/
frontend-react/.vscode/

# Ignorar archivos generados
backend-node/dist/
frontend-react/dist/
frontend-react/build/

# Ignorar archivos de log
backend-node/logs/
frontend-react/logs/
backend-node/src/config/database.js

.vscode/